.accroche {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: center;
  color:white;
  font-weight: bolder;
}
